# Ambientes virtuais
venv/
env/
.venv/
.env

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Python
__pycache__/
*.py[cod]
*.egg-info/

# data/processed/

# Sistema
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/